<%= flash[:alert] %>

<h2>Edit your post</h2>

<form action="/foods/edit_complete" method="post">
  <div>
    <div>
      <input type="hidden" name="post_id" value="<%= @post.id %>">
    </div>
    <div>
      <label for="title">Title : </label>
      <input type="text" name="title" value="<%= @post.title %>">
    </div>
    <div>
      <label for="category">Category : </label>
      <select name="category" id="category" selected="<%= @post.category %>">
        <option><%= @post.category %></option>
        <% @category.each do |cat| %>
        <option><%= cat %></option>
        <% end %>
      </select>

      <label for="valuation">Valuation : </label>
      <select name="valuation" id="valuation" value="<%= @post.valuation %>">
        <option><%= @post.valuation %></option>
        <% @valuation.each do |val| %>
        <option><%= val %></option>
        <% end %>
      </select>
    </div>

    <div>
      <label for="budget">Budget : </label>
      <input type="text" name="budget" value="<%= @post.budget %>">
    </div>
    <div>
      <label for="content">Content : </label>
      <textarea name="content" id="content" cols="30" rows="10"><%= @post.content %></textarea>
    </div>
    <div>
      <p>Add img</p>
    </div>
    <div>
      <input type="submit" value="Edit">
      <a href="/">
        <input type="button" value="Cancle">
      </a>
    </div>
  </div>
</form>