<!DOCTYPE html>
<html lang="ko">
<head>
  <title>교토대 밥 고민 해결Min</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="jumbotron-narrow.css" rel="stylesheet">
  <!-- Google map api-->
  <script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script>
  <script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
 <!-- only if you need custom infoboxes -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header> <!-- Header nav -->
      <%= render :partial => "layouts/header_nav" %>
    </header>

      <%= yield %>

  </div>

  <hr>
  <footer class="text-center">
    <small>Copyright by Min</small>
  </footer>
</body>
</html>
