<!DOCTYPE html>
<html>
<head>
  <title>Min's Gourmet site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => "layouts/header_nav" %>

<%= yield %>

</body>
</html>
